{{ define "main" }}

<div class="row justify-content-start">
    
    <div class="col-sm-12 col-md-7 offset-md-2 mt-2">
        {{ .Content }}

        
        <h3>Upcoming Conferences</h3>
        {{ range first 5 (sort (where .Site.RegularPages "Section" "conferences") ".Params.start_date")}}
        <section class="conference">
            <ul>
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a>: <span style="font-weight: bold;">{{ replace .Params.format "-" " " | title}}</span> - <span class= "conf-date" style="font-style: italic;">{{ dateFormat "Monday, January 2, 2006" .Params.start_date }} - {{ dateFormat "Monday, January 2, 2006" .Params.end_date }}</span> 
                    <ul class="conference-topic-list">
                        <li>
                        {{ range .Params.topics}}
                            <a class="btn btn-secondary btn-sm topic" href="/topics/{{ . | urlize }}"> {{ . }}</a>
                        {{ end }}
                        </li>   
                    </ul>
                </li>
            </ul>
        </section>
        {{ end}}
        <div class="d-grip gap-2 d-md-flex justify-content-md-center">
            <a class="btn btn-primary btn-lg" href="/conferences" role="button">All Conferences</a>
        </div>
    
    </div>

    <div class="col-sm-12 col-md-3 mt-2">
        <section class="topics-list">
            <h2>Format</h2>
            <ul class= "list-group">
                {{ $confs := where .Site.Pages "Type" "conferences"}}
                {{ range .Site.Taxonomies.format.ByCount}}
                    
                    {{ $topic := .Name}}
                     <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="topic" href="/format/{{ .Page.Title | urlize }}"> {{ .Page.Title }}</a>
                        <span class="badge bg-primary rounded-pill">{{ .Count }}</span>
                    </li>                
                 {{ end }}
            </ul>
        </section>
    </div>

    <div class="col-sm-12 col-md-3 offset-md-2 mt-2">
        <section class="topics-list">
            <h2>Topics</h2>
            <ul class= "list-group">
                {{ $confs := where .Site.Pages "Type" "conferences"}}
                {{ range first 5 .Site.Taxonomies.topics.ByCount}}
                    
                    {{ $topic := .Name}}
                     <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="topic" href="/topics/{{ .Page.Title | urlize }}"> {{ .Page.Title }}</a>
                        <span class="badge bg-primary rounded-pill">{{ .Count }}</span>
                    </li>                
                 {{ end }}
            </ul>
            Click <a href="/topics">here</a> for all topics.
        </section>
    </div>

    <div class="col-sm-12 col-md-3 mt-2">
        <section class="topics-list">
            <h2>Cities</h2>
            <ul class= "list-group">
                {{ $confs := where .Site.Pages "Type" "conferences"}}
                {{ range first 5 .Site.Taxonomies.city.ByCount}}
                    
                    {{ $topic := .Name}}
                     <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="topic" href="/topics/{{ .Page.Title | urlize }}"> {{ .Page.Title }}</a>
                        <span class="badge bg-primary rounded-pill">{{ .Count }}</span>
                    </li>                
                 {{ end }}
            </ul>
            Click <a href="/topics">here</a> for all cities.
        </section>
    </div>

    <div class="col-sm-12 col-md-3 mt-2">
        <section class="topics-list">
            <h2>Countries</h2>
            <ul class= "list-group">
                {{ $confs := where .Site.Pages "Type" "conferences"}}
                {{ range first 5 .Site.Taxonomies.country.ByCount}}
                    
                    {{ $topic := .Name}}
                     <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="topic" href="/topics/{{ .Page.Title | urlize }}"> {{ .Page.Title }}</a>
                        <span class="badge bg-primary rounded-pill">{{ .Count }}</span>
                    </li>                
                 {{ end }}
            </ul>
            Click <a href="/topics">here</a> for all countries.
        </section>
    </div>



</div>
{{ end }}